/Car_CompanyRepository.class
/Car_ModelRepository.class
/CityController.class
/LoginRepository.class
/RoleRepository.class
/StateController.class
/UserRepository.class
/VehicleController.class
/BookingRepository.class
/CityRepository.class
/PassengerRepository.class
/Passenger_ReviewRepository.class
/PaymentRepository.class
/RideRepository.class
/StateRepository.class
/VehicleRepository.class
